<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subscription Type</title>

  <link rel="stylesheet" href="/Style/dashboard.css">
  <link rel="stylesheet" href="/Style/profile.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>

<body>

  <div class="container">

    <!-- Sidebar Toggle -->
    <input type="checkbox" id="sidebar-toggle" hidden>
    <label for="sidebar-toggle" class="overlay"></label>

    <!-- Header -->
    <header class="header-bar">
      <label for="sidebar-toggle" class="hamburger">
        <i class="fa-solid fa-bars"></i>
      </label>
    </header>

    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="brand">
        <div class="logo"><img src="/image/library.jpg"></div>
        <div>
          <h2>BookNest</h2>
          <p>Your Library, Anytime</p>
        </div>
      </div>

      <nav class="menu">
        <a href="dashboard"><i class="fa-solid fa-chart-line"></i> Dashboard</a>
        <a href="book_allotment"><i class="fa-solid fa-book-open-reader"></i> Books Allotment</a>

        <div class="dropdown">
          <a href="book_management" class="dropdown-toggle">
            <i class="fa-solid fa-book"></i> Books Management
            <i class="fa-solid fa-chevron-down arrow"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="book_management"><i class="fa-solid fa-pen-to-square"></i> Manage Books</a></li>
            <li><a href="allotment_history"><i class="fa-solid fa-clock-rotate-left"></i> Allotment History</a></li>
            <li><a href="submission"><i class="fa-solid fa-bookmark"></i> Submission</a></li>
              <li><a href="cart"><i class="fa-solid fa-shopping-cart"></i>Cart</a></li>
          </ul>
        </div>

        <a href="student_management"><i class="fa-solid fa-user-graduate"></i> Student Management</a>
        <a href="purchase_books"><i class="fa-solid fa-cart-shopping"></i> Purchase Books</a>
        <a href="vendor_management"><i class="fa-solid fa-store"></i> Vendor Management</a>
        <a href="publication"><i class="fa-solid fa-newspaper"></i> Publications</a>
        <a href="subscription"><i class="fa-solid fa-credit-card"></i> Subscription Type</a>
        <a href="profile"><i class="fa-solid fa-user"></i> Profile</a>
        <a href="login"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
      </nav>
    </aside>


    <div class="main-container">

    <h2 class="page-title">Admin Profile</h2>

    <div class="profile-card">

        <div class="profile-img">
            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="user">
        </div>

        <div class="form-row">
            <div class="form-group">
                <label>Full Name</label>
                <input type="text" th:value="${name}" readonly>
            </div>

            <div class="form-group">
                <label>Phone Number</label>
                <input type="tel" th:value="${phoneNumber}" readonly>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="email"  th:value="${email}" readonly>
            </div>

            <div class="form-group">
                <label>Register Date</label>
                <input type="text"  th:value="${registrationDate}" readonly>
            </div>

            <div class="form-group">
                <label>Company Name</label>
                <input type="text" value="BookNest" readonly>
            </div>

            <div class="form-group">
                <label>Currency</label>
                <input type="text" value="BDT" readonly>
            </div>
        </div>

<!--        <div class="btn-box">-->
<!--            <button class="update-btn">Update</button>-->
<!--        </div>-->

    </div>

</div>
 


  <script src="/Js/sidebar.js"></script>
</body>

</html>
