<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Management</title>
  <link rel="stylesheet" href="/Style/book_management.css">

  <link rel="stylesheet" href="/Style/dashboard.css">
  <link rel="stylesheet" href="/Style/purchase_books.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>

<body>
<div class="container">
  <input type="checkbox" id="sidebar-toggle" hidden>
  <label for="sidebar-toggle" class="overlay"></label>

  <header class="header-bar">
    <label for="sidebar-toggle" class="hamburger">
      <i class="fa-solid fa-bars"></i>
    </label>
  </header>

  <aside class="sidebar">
    <div class="brand">
      <div class="logo">
        <img src="/image/library.jpg" alt="Library Image">
      </div>
      <div>
        <h2>BookNest</h2>
        <p>Your Library, Anytime</p>
      </div>
    </div>

    <nav class="menu">
      <a href="dashboard"><i class="fa-solid fa-chart-line"></i> Dashboard</a>
      <a href="book_allotment"><i class="fa-solid fa-book-open-reader"></i> Books Allotment</a>
      <div class="dropdown">
        <a href="book_management" class="dropdown-toggle">
          <i class="fa-solid fa-book"></i> Books Management
          <i class="fa-solid fa-chevron-down arrow"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="book_management"><i class="fa-solid fa-pen-to-square"></i> Manage Books</a></li>
          <li><a href="allotment_history"><i class="fa-solid fa-clock-rotate-left"></i> Allotment History</a></li>
          <li><a href="submission"><i class="fa-solid fa-bookmark"></i> Submission</a></li>
          <li><a href="cart"><i class="fa-solid fa-shopping-cart"></i>Cart</a></li>
        </ul>
      </div>
      <a href="student_management"><i class="fa-solid fa-user-graduate"></i> Student Management</a>
      <a href="purchase_books"><i class="fa-solid fa-cart-shopping"></i> Purchase Books</a>
      <a href="vendor_management"><i class="fa-solid fa-store"></i> Vendor Management</a>
      <a href="publication"><i class="fa-solid fa-newspaper"></i> Publications</a>
      <a href="subscription"><i class="fa-solid fa-credit-card"></i> Subscription Type</a>
      <a href="profile"><i class="fa-solid fa-user"></i> Profile</a>
      <a href="login"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
    </nav>
  </aside>

  <div id="alertBox"
       th:if="${alertMessage}"
       th:text="${alertMessage}"
       th:classappend="${alertType}"></div>

  <header class="header">
    <div class="breadcrumb">
      <i class="fas fa-home"></i>
      <span>/ Purchase Management</span>
    </div>
  </header>

  <button class="btn-primary" id="openModal"><i class="fas fa-plus"></i> Purchase New Book</button>

  <main class="content">
    <div class="toolbar">
      <div class="tools-left">
<!--        <button class="filter-btn" id="filterBtn"><i class="fa-solid fa-filter"></i> Filters</button>-->
        <a  class="btn btn-primary" th:href="@{/exportPurchaseBooksPdf}" style="text-decoration: none">
          <i class="fa-solid fa-file-export"></i> Export
        </a>
      </div>

      <div class="search-wrapper">

        <a href="purchase_books" type="submit" id="refresh" class="ok-btn" style="text-decoration: none">Refresh</a>
        <br>

        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" id="searchInput" class="search-bar" placeholder="Search Book...">
      </div>
    </div>

    <div class="table-container">
      <table class="purchase-table">
        <thead>
        <tr>
          <th>sNo.</th>
          <th>Book Name</th>
          <th>Vendor</th>
          <th>Quantity</th>
          <th>Per Book Price</th>
          <th>Purchase Date</th>
          <th>Invoice</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${purchaseBooks != null}" th:each="p , si : ${purchaseBooks}">
          <td th:text="${si.index+1}">1</td>
          <td th:text="${p.book_name}">Park Avenue</td>
          <td th:text="${p.vendor_name}">Vendor</td>
          <td th:text="${p.quantity}">10</td>
          <td th:text="${p.pricePerBook}">$100</td>
          <td th:text="${p.purchaseDate}">12/11/2025</td>
          <td>
            <a th:href="@{/purchase_books(id=${p.id})}">
              <i id="openPopup" class="fa fa-file-invoice" style="cursor:pointer;"></i>
            </a>
          </td>

          <td>
            <a th:href="@{/purchase_books(editId=${p.id})}">
              <i class="fas fa-edit editPurchaseBook"></i>
            </a>

            <a th:href="@{/purchase_books(deleteId=${p.id})}">
              <i class="fas fa-trash delete-icon"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </main>

  <!-- ADD MODAL -->
  <div id="purchaseModal" class="modal purchaseModal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h3>Add Purchase</h3>
      <form method="post" th:action="@{/purchase_books(action='add')}" th:object="${purchaseBookDto}">
        <label>Book</label>
        <select th:field="*{bookId}" required>
          <option value="">Select a book</option>
          <option th:each="b : ${books}" th:value="${b.bookId}" th:text="${b.bookName}">Book</option>
        </select>

        <label>Vendor</label>
        <select th:field="*{vendorId}" required>
          <option value="">Select a vendor</option>
          <option th:each="v : ${vendors}" th:value="${v.vendorId}" th:text="${v.name}">Vendor</option>
        </select>

        <label>Date</label>
        <input type="date" th:field="*{purchaseDate}" required>

        <label>Quantity</label>
        <input type="number" th:field="*{quantity}" id="quantity"   name="quantity"  required oninput="calc()">

        <label>Price per Book</label>
        <input type="number" th:field="*{pricePerBook}" id="pricePerBook"   name="pricePerBook" required oninput="calc()">

        <label>Total Amount</label>
        <input type="number" id="total" readonly>

        <label>Comment</label>
        <textarea th:field="*{comment}" rows="3"></textarea>

        <button type="submit" class="save">Save</button>
        <a href="purchase_books" class="cancel">Cancel</a>
      </form>
    </div>
  </div>

  <!-- INVOICE POPUP -->
  <div class="popup-overlay" id="invoicePopup" th:classappend="${invoiceMode} ? 'show':''">
    <div class="popup-content">
      <span class="close-btn" id="closeInvoicePopUp"><a href="purchase_books" style="text-decoration: none">&times;</a></span>

      <h2>BookNest</h2>
      <h3 style="text-align:center;">LIBRARY MANAGEMENT SYSTEM</h3>
      <p style="text-align:right;" th:text="${currentDate}">Date</p>

      <div class="invoice-section">
        <h3>Vendor Information</h3>
        <table>
          <tr>
            <td><b>Name:</b> <span th:text="${vendorName}"></span></td>
            <td><b>Phone:</b> <span th:text="${vendorPhone}"></span></td>
          </tr>
          <tr>
            <td><b>Email:</b> <span th:text="${vendorEmail}"></span></td>
            <td><b>Company Name:</b> <span th:text="${vendorCompanyName}"></span></td>
          </tr>
          <tr>
            <td><b>Register Date:</b> <span th:text="${vendorAddDate}"></span></td>
          </tr>
        </table>
      </div>

      <div class="invoice-section">
        <h3>Payment Information</h3>
        <table>
          <tr>
            <td><b>Book Name:</b> <span th:text="${bookName}"></span></td>
            <td><b>Par Book Price:</b> <span th:text="${bookPrice}"></span></td>
          </tr>
          <tr>
            <td><b>Book Purchase Date:</b> <span th:text="${purchaseDate}"></span></td>
            <td><b>Quantity:</b> <span th:text="${quantity}"></span></td>
          </tr>
        </table>
        <div class="total">Total Amount: <span th:text="${totalAmount}"></span></div>
      </div>

      <button class="print-btn" onclick="window.print()">Print</button>
    </div>
  </div>

  <!-- DELETE MODAL -->
  <div id="deleteConfirmationModal" class="delete-modal-overlay" th:classappend="${deleteMode} ? 'show':''">
    <div class="delete-modal-box">
      <span class="close-btn" id="closeDeleteModalBtn"><a href="purchase_books" style="text-decoration: none">&times;</a></span>
      <form method="post" th:action="@{/purchase_books(action='delete')}">
        <h2>Are you sure you want to delete this book?</h2>
        <div class="delete-modal-footer">
          <a href="purchase_books" style="text-decoration: none" class="cancel-btn">Cancel</a>
          <button id="confirmDeleteBtn" class="ok-btn">OK</button>
        </div>
      </form>
    </div>
  </div>

  <!-- EDIT MODAL -->
  <div id="editModal" class="edit-modal-overlay" th:classappend="${editMode} ? 'show':''">
    <div class="modal-box">
      <div class="modal-header">
        <h3>Edit Purchase</h3>
        <span id="closeEditModal" class="close-btn"><a href="purchase_books" style="text-decoration: none">&times;</a></span>
      </div>

      <form method="post" th:action="@{/purchase_books(action='edit')}" th:object="${editPurchaseBook}">

        <label>Book</label>
        <select th:field="*{bookId}" required>
          <option th:each="b : ${books}" th:value="${b.bookId}" th:text="${b.bookName}"></option>
        </select>

        <label>Vendor</label>
        <select th:field="*{vendorId}" required>
          <option th:each="v : ${vendors}" th:value="${v.vendorId}" th:text="${v.name}"></option>
        </select>

        <label>Date</label>
        <input type="date" th:field="*{purchaseDate}"/>

        <label>Quantity</label>
        <input type="number" th:field="*{quantity}" required/>

        <label>Price per Book</label>
        <input type="number" th:field="*{pricePerBook}" required/>

        <label>Comment</label>
        <textarea th:field="*{comment}"></textarea>

        <div class="modal-footer">
          <button class="btn update">Update</button>
          <a href="purchase_books" style="text-decoration: none" class="btn cancel">Cancel</a>
        </div>
      </form>
    </div>
  </div>

</div>

<script src="/Js/book_management.js"></script>
<script src="/Js/purchase_books.js"></script>
<script src="/Js/sidebar.js"></script>
</body>
</html>
